@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

:root {
/* Font families */
--font-young-serif: "Young Serif", serif;
--font-outfit: "Outfit", sans-serif;

/* Font weights */
--fw-regular: 400;
--fw-semibold: 600;
--fw-bold: 700;

/* Line heights */
--lh-100: 1;
--lh-150: 1.5;

/* Spacing */
--spacing-400: 24px;

/* Colors */

/* Stone */
--Stone-100: hsl(30, 54%, 90%);
--Stone-150: hsl(30, 18%, 87%);
--Stone-600: hsl(30, 10%, 34%);
--Stone-900: hsl(24, 5%, 18%);

/* Brown */
--Brown-800: hsl(14, 45%, 36%);

/* Rose */
--Rose-800: hsl(332, 51%, 32%);
--Rose-50: hsl(330, 100%, 98%);

/* Typography */
--Font-size-paragraph: 16px;
}

{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
font-size: 62.5%;
}

body {
min-height: 100vh;
background: var(--Stone-100);
font-family: var(--font-outfit);
font-size: 1.6rem;
}

main {
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
padding: 128px 48px;
}

/* Recipe Card */

.recipe-card {
width: 100%;
max-width: 73.6rem;
background-color: white;
border-radius: 24px;
padding: 40px;
}

/* Image */

.recipe-card .head-img img {
width: 100%;
display: block;
border-radius: 12px;


}

/* Content */

.recipe-card .content {
display: flex;
flex-direction: column;
gap: var(--spacing-400);
padding-top: 45px;

}

/* Recipe Information */

.recipe-info {
display: flex;
flex-direction: column;
gap: 24px;
}

.recipe-info h1 {
font-family: var(--font-young-serif);
font-weight: var(--fw-regular);
line-height: var(--lh-100);
color: var(--Stone-900);
}

.recipe-info p {
font-family: var(--font-outfit);
font-weight: var(--fw-regular);
font-size: var(--Font-size-paragraph);
line-height: var(--lh-150);
color: var(--Stone-900);
}

/* Preparation Section */

.preparation-section {
padding: 24px;
border-radius: 12px;
background-color: var(--Rose-50);
display: flex;
flex-direction: column;
gap: 20px;
}

.preparation-section h2 {
color: var(--Rose-800);
line-height: var(--lh-100);
font-weight: var(--fw-semibold);
font-size: 20px;
}

.preparation-section ul {
display: flex;
flex-direction: column;
gap: 8px;
padding-left: 6px;
font-weight: var(--fw-regular);
line-height: var(--lh-150);
color: var(--Stone-600)
}

.preparation-section ul li {
margin-left: 2.3rem;
padding-left: 8px;
}

.preparation-section ul li::marker {
color: var(--Rose-800);
font-size: 14px;
}

/* Ingredients & Instructions */

.ingredients-section,
.instructions-section {
display: flex;
flex-direction: column;
gap: 24px;
padding-bottom: 32px;
border-bottom: 1px solid var(--Stone-150);
}

.ingredients-section h2,
.instructions-section h2,
.nutrition-section h2 {
color: var(--Brown-800);
font-family: var(--font-young-serif);
font-weight: var(--fw-regular);
font-size: 28px;
line-height: var(--lh-100);
}

/* Ingredients */

.ingredients-section ul {
display: flex;
flex-direction: column;
gap: 8px;
padding-left: 6px;
font-size: 16px;
font-weight: var(--fw-regular);
line-height: var(--lh-150);
color: var(--Stone-600);
}

.ingredients-section > ul > li {
margin-left: 2.3rem;
padding-left: 16px;
}

.ingredients-section > ul > li::marker {
color: var(--Brown-800);
font-size: 14px;
}

/* Instructions */

.instructions-section ol {
display: flex;
flex-direction: column;
gap: 8px;
padding-left: 6px;
font-size: 16px;
font-weight: var(--fw-regular);
line-height: var(--lh-150);
color: var(--Stone-600);
}

.instructions-section > ol > li {
margin-left: 2.3rem;
padding-left: 16px;
}

.instructions-section > ol > li::marker {
color: var(--Brown-800);
font-weight: var(--fw-bold);
}

/* Nutrition */

.nutrition-section {
display: flex;
flex-direction: column;
gap: 24px;
color: var(--Stone-600);
}

.nutrition-section p {
line-height: var(--lh-150);
}

.nutrition-section table {
width: 100%;
text-align: left;
line-height: var(--lh-150);
border-collapse: collapse;
}

.nutrition-section tr:not(:last-child) th,
.nutrition-section tr:not(:last-child) td {
border-bottom: 1px solid var(--Stone-150);
}

.nutrition-section tr:first-child th,
.nutrition-section tr:first-child td {
padding-top: 0;
padding-bottom: 12px;
}

.nutrition-section tr:not(:first-child):not(:last-child) th,
.nutrition-section tr:not(:first-child):not(:last-child) td {
padding-top: 12px;
padding-bottom: 12px;
}

.nutrition-section tr:last-child th,
.nutrition-section tr:last-child td {
padding-top: 12px;
}

.nutrition-section th {
padding-left: 32px;
padding-right: 16px;
font-weight: var(--fw-regular);
}

.nutrition-section td {
padding-left: 40px;
padding-right: 32px;
font-family: var(--font-outfit);
font-size: 16px;
font-weight: var(--fw-semibold);
line-height: var(--lh-150);
color: var(--Brown-800);
}

@media (max-width: 768px) {
main {
padding: 80px 32px;
}
.recipe-card {
    max-width: 616px;
}
}
@media (max-width: 575px) {
main {
padding: 0;
align-items: flex-start;
}
.recipe-card {
    width: 100%;
    min-height: 100vh;

    padding: 0;

    border-radius: 0;
}
.recipe-card .head-img img {
    width: 100%;
    border-radius: 0;
}
.recipe-card .content {
    padding: 40px 32px;
}
}
